html {
    scroll-behavior: smooth;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
}

:root {
    --main-color: #015993;
}
.d-none{
    display: none;
}
body {
    margin: 0;
    padding: 0;
    position: relative;
    font-family: "cairo", sans-serif;
}
.auth{
    min-height: 100vh;
}
body::before {
    content: "";
    position: absolute;
    width: 25%;
    height: 100%;
    background-color: var(--main-color);
}

.container {
    display: flex;
    align-items: center;
    position: relative;
    justify-content: space-between;
    margin-left: 80px;
    margin-right: 80px;
    min-height: inherit;
}

/* End Rules important*/
.main-image {
    width: 480px;
    height: 510px;
    z-index: 1;
}

.delta-out {
    width: 95px;
    position: absolute;
    right: 0;
}

.delta-in {
    width: 70px;
    position: absolute;
    left: 0;
}

.back {
    position: absolute;
    top: 0;
}

/*Start Login*/
.container .login {
    width: 40%;
    padding: 18px;
    text-align: center;
}

.login .header {
    line-height: 1;
}

.header p {
    color: #252b37;
    font-size: 13px;
}

.login .client {
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
    margin-bottom: 10px;
}

.client a {
    padding: 4px 30px;
    border-radius: 10px;
    box-shadow: 0 0 10px #ddd;
    font-weight: bold;
    color: black;
}

.client a:hover {
    background-color: var(--main-color);
    color: white;
}

.client .vip {
    background-color: var(--main-color);
    color: white;
}

form {
    text-align: right;
    margin-bottom: 20px;
    color: #252b37;
}

input {
    width: 98%;
    padding: 10px 8px;
    border-radius: 10px;
    outline: none;
    border: 2px solid #b7c3db;
    text-align: right;
    box-shadow: 0 0 10px #ddd;
    font-size: 15px;
    font-weight: 600;
    color: #252b37;
}

input:focus {
    border: 2px solid var(--main-color);
}
.note{
    margin-top: 8px;
    display: flex;
    justify-content: space-between;
}
.note input {
    width: auto;
}

.note label {
    font-size: 13px;
}

.note .mark {
    color: var(--main-color);
}

.send {
    padding: 5px 119px;
    border-radius: 10px;
    background-color: var(--main-color);
    color: white;
    font-weight: bold;
}

.send:hover {
    background-color: #014e72;
}

.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 15px;
}

.footer a {
    color: var(--main-color);
    margin-right: 5px;
    font-weight: bold;
}
.footer p{
    margin: 0;
}

/* From Uiverse.io by Yaya12085 */
.radio-input input {
    display: none;
}

.radio-input {
    --container_width: 300px;
    position: relative;
    display: flex;
    align-items: center;
    border-radius: 10px;
    background-color: #fff;
    color: #000000;
    width: var(--container_width);
    overflow: hidden;
    border: 1px solid rgba(53, 52, 52, 0.226);
}

.radio-input label {
    width: 100%;
    padding: 10px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    font-weight: 600;
    letter-spacing: -1px;
    font-size: 14px;
}

.selection {
    display: none;
    position: absolute;
    height: 100%;
    width: calc(var(--container_width) / 3);
    z-index: 0;
    left: 0;
    top: 0;
    transition: 0.15s ease;
}

.radio-input label:has(input:checked) {
    color: #fff;
    background-color: rgb(11 117 223);

}


/* From Uiverse.io by Randdose */ 
.button {
all: unset;
display: flex;
align-items: center;
position: relative;
padding: 0.3em 50px;
border: 1px solid var(--main-color);
border-radius: 10px;
color: #000;
font-size: 1.5em;
font-weight: 500;
cursor: pointer;
overflow: hidden;
transition: border 300ms, color 300ms;
user-select: none;
font-size: 20px;
margin: 15px auto 10px;
}

.button p {
margin: 0;
}

.button:hover p {
color: #fff;
z-index: 99;
}

.button:active {
border-color: teal;
}

.button::after, .button::before {
content: "";
position: absolute;
width: 9em;
aspect-ratio: 1;
background: var(--main-color);
opacity: 50%;
border-radius: 50%;
transition: transform 500ms, background 300ms;
}

.button::before {
left: 0;
transform: translateX(-8em);
}

.button::after {
right: 0;
transform: translateX(8em);
}

.button:hover:before {
transform: translateX(-1em);
}

.button:hover:after {
transform: translateX(1em);
}

.button:active:before,
.button:active:after {
background: teal;
}
.otp{
    padding: 10px 8px;
    width: 30px;
    border-radius: 10px;
    outline: none;
    border: 2px solid #b7c3db;
    text-align: center;
    box-shadow: 0 0 10px #ddd;
    font-size: 15px;
    font-weight: 600;
    color: #252B37;
    margin-bottom: 20px;
}
@media (max-width: 768px) {
    .container .login {
        display: block;
        width: 100%;
        height: 100vh; 
        text-align: center;
        margin: 0; 
        padding: 0; 
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center; 
    }
    .main-image {
        display: none;
    }
    body::before {
        display: none;
    }
    .delta-in {
        display: none;
    }
}
